/* code[class*="language-"], */
code[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  color: #cbccc6;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin-bottom: 1.5rem;
  overflow: auto;
}

/* :not(pre) > code[class*="language-"], */
pre[class*="language-"] {
  background: #1f2430;
}

/* Inline code */
/* :not(pre) > code[class*="language-"] {
  padding: 0.1em;
  white-space: normal;
} */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #707a8c;
  font-style: italic;
}

.token.punctuation {
  color: #cbccc6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #5ccfe6;
}

.token.boolean,
.token.number {
  color: #ffcc66;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #bae67e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f28779;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #ffcc66;
}

.token.keyword {
  color: #ffa759;
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* optional */
.gatsby-highlight-code-line {
  background-color: #2a3546fd;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #77a8d999;
}
